.text-white {
    font-size: 32px;
    margin: auto;
}
.search {
    font-size: 26px;
}
.list-group {
    margin: 25px 0 0 0;
}
.btn {
    font-size: 22px;
    background-color: rgb(0, 26, 255);
}
.border {
    margin: 25px 0 0 0;
}
.card {
    display: inline-block;
    font-size: 16px;
}
.forecast {
    margin-left: 365px;
}
.submit {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
